.info {
  width: 100vw;
  height: 100vh;
  color: #002046;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.infoContainer {
  width: 100vw;
  color: #002046;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;

}