.info {
  width: 100vw;
  height: 90vh;
  color: #002046;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.infoContainerLeft {
  width: 90vw;
  color: #002046;
  text-align: left;
  display: grid;
  grid-template-columns: 3fr 7fr;
  align-items: center;
  padding: 5vh 5vw 5vh 5vw;
  height: 100vh;

}
.infoContainerRight {
  width: 100vw;
  color: #002046;
  text-align: left;
  display: grid;
  grid-template-columns: 7fr 3fr;
  align-items: center;
  padding: 5vh 5vw 5vh 5vw;
  height: 100vh;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 70vh;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 3vw;
  border-radius: 10px;
  background: url('/Desk1Background.jpg') no-repeat center center fixed;
  color:white;

}

.imageContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-tempalte-rows: 1fr 1fr;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width: 40vw;
  height: 30vh;
  font-size:2rem;
}

.textStuff {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}

.imageOuterContainer{
  padding: 3vw 3vh 3vw 3vh;
  display: flex;
  align-items: center;
  justify-content: center
}


.imageClass {
  width: 50vw !important;
  height: 60vh !important;
  min-width: 0% !important;
  max-width: 800px !important;
  min-height: 0% !important;
  max-height: 719px !important;
}
