.homeInfo {
  display: flex;
  flex-direction: column;
  color: #e5e5e5;
  height: 100%;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: -5vh;

}

.infoHeader {
  padding-bottom: 10vh;
}

.scrollList {
  display: flex;
  width: 50vw;
  justify-content: space-around;

}
