.info {
  width: 100vw;
  height: 100%;
  color: #002046;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.infoContainerLeft {
  width: 100vw;
  color: #002046;
  text-align: left;
  display: grid;
  grid-template-columns: 3fr 7fr;
  align-items: center;
  padding: 5vh 5vw 5vh 5vw;
  height: 100%;
}
.infoContainerRight {
  width: 100vw;
  color: #002046;
  text-align: left;
  display: grid;
  grid-template-columns: 7fr 3fr;
  align-items: center;
  padding: 5vh 5vw 5vh 5vw;
  height: 100%;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}


.imageClass {
  border-radius: 100% !important;
  width: 50vw !important;
  height: 60vh !important;
  min-width: 0% !important;
  max-width: 800px !important;
  min-height: 0% !important;
  max-height: 719px !important;
}
