.card {
  display: flex;
  flex-direction: column;
  width: 50vmin;
  height: 50vmin;
  overflow: hidden;
  box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  background: #ECE9E6;
  background: linear-gradient(to right, #FFFFFF, #ECE9E6);
}

.imgContainer {
  height: 60%;
  width: 100%;
  position:relative;
}