.weightChartContainer {
  min-height: 90vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.sectorWeightsContainer {
  min-height: 90vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;

}