.homeContainer {
  background: url('/Desk1Background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
}



.homeTitle {
  padding-left: 3vw;
  padding-right: 3vw;
  padding-top: 3vh;
  height: 90vh;

}

.homePerf {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}



