.homeContainer {
  display: grid;
  grid-template-columns: 3fr 7fr;
}

.homeContainer {
  min-height: 90vh;
  justify-items: center;
  align-items: center;
}

.homeTitle {
  padding-left: 3vw;
  padding-right: 3vw;
  padding-top: 3vh;
}

