

.formContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  height: 7vh;
}

.dateButton {
  width: 10vw;
  height: 4vh;
  background-color: #002046;
  border-radius: 30px;
  border: solid #002046 1px;
  color: white;
  cursor: pointer;
}

.startDate, .endDate {
  height: 3vh;
  width: 24.5vw;
  margin-right: 1vw;
  border: solid rgb(178, 178, 178) 1px;
  border-radius: 3px;
  margin-bottom: 1vh;
  margin-top: 2vh;
  color: #002046;

}

.selectBox {
  width: 50vw;
  margin-right: 1vw;
  color: #002046 !important;
}

.inputBoxes {
  display: flex;
  flex-direction: column;

  justify-content: flex-start;
  align-items: flex-end;
  height: 10vh;
  margin-top: 3vh;
  padding-top: 2vh;
}