

.formContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 5vh;
}

.dateButton {
  width: 10vw;
  height: 37px;
  background-color: #002046;
  border-radius: 30px;
  border: solid #002046 1px;
  color: white;
  cursor: pointer;
}

.startDate, .endDate {
  height: 37px;
  width: 20vw;
  margin-right: 1vw;
  border: solid rgb(178, 178, 178) 1px;
  border-radius: 3px;

}

.selectBox {
  width: 20vw;
  margin-right: 1vw;

}

.inputBoxes {
  display: flex;
  color: black !important;
}